body {
 background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}

.row{
 	position:relative;
 	margin-left:10%;
 	margin-right:10%;
}

.clear {
	clear:both;
}

.white, .black{
 	border: 1px solid black;
 	width: 10%;
	 height: 60px;
 	float:left;
}

.white{
	background-color: white;
}
 
.black{
	 background-color:#787878;
}

#footer {
 background-color:lightblue;
 padding: 10px;
 margin:10px;
 text-align:center;
}

#container {
 margin-top:20%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}

#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color:lightblue;
 text-align:center; 
 z-index:10;
 font-family: 'JustLettersMedium'; 
 font-weight: normal; 
 font-style: normal; 
 font-size:36px;
}
